body {
    height: 100vh;
    display: grid;
    place-items: center;
}

td, th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.button1{
background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}