<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Credential Manager</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/edit.css') }}">
    </head>
    <body>
        <button type="button"   onclick="window.location.href='{{ url_for( 'table') }}';">Home</button>
        <form action="/add_data" method="POST">
          <div class="container">
            <label><b>Website</b></label>
            <input type="text" name="website">

            <label><b>Username</b></label>
            <input type="text" name="username">

            <label><b>Password</b></label>
            <input type="text" name="password">

            <label><b>Backupcodes</b></label>
            <input type="text" name="backupcodes">
            <hr>
            <button type="submit" class="registerbtn">Submit</button>
              <button type="button" class="registerbtn" onclick="window.location.href='{{ url_for( 'signin') }}';">logout</button>
          </div>
        </form>
    </body>
</html>
