<!DOCTYPE html>
<html lang="en">
<head>
    <title>Credential Manager</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/edit.css') }}">
</head>
<body>
<form action="/updatedata" method="POST">
    <div class="container" style="background-color: #F3F7F7">
        <input id="heading" style="border: none;background: #F3F7F7;font-weight: bold;font-size: x-large"
               type="text"
               name="type"
               value="{{ data['Type'] }}" readonly/>
        <hr>

        <div class="small-container">
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" value="{{ data['Username'] }}">
        </div>


        <div class="small-container">
            <label for="password">Password: </label>
            <input id="password" type="text" name="password" value="{{ data['Password'] }}">
        </div>

        <div class="small-container not-small">
            <label for="backup_codes">Backupcodes: </label>
            <input style="width: 100%" id="backup_codes" type="text" name="backupcodes"
                   value="{{ data['Backupcodes'] }}"/>
        </div>
        <hr>

        <div class="button-container">
            <input type="button" class="button1" value="Logout"
                   onclick="window.location.href='{{ url_for( 'signin') }}';"/>
            <input style="background:#F3422B" name="action1" type="submit" value="Delete" class="registerbtn"/>
            <input type="submit" name="action1" value="Submit" class="registerbtn"/>
        </div>
    </div>
</form>
</body>
</html>
