<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Login</title>
    </head>
    <body>
        <div class="login-page">
          <div class="form">
            <div class="login">
              <div class="login-header">
                <h3></h3>
              </div>
            </div>
              <p><a href="{{ url_for('signin') }}">Logout</a></p>
            <form class="login-form" action="/done"  method="post">
                <label>Encryption Password</label>
              <input type="password" name="encryption_password"  placeholder="password"/>
              <button>Done</button>

            </form>
          </div>
        </div>
    </body>
</html>