<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Reset Password</title>
    </head>
    <body>
        <div class="login-page">
          <div class="form">
            <div class="login">
              <div class="login-header">
              </div>
            </div>
            <form class="login-form" action="/forgotpassword" method="post">
                <label>Email</label>
              <input type="email" name="email" value="" placeholder="Email"/>
              <button>Submit</button>
            </form>
          </div>
        </div>
    </body>
</html>