<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<title>Signup</title>
</head>
<body style="background-color: #837672;">
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>CREDENTIAL MANAGER</h3>
          </div>
        </div>
        <form class="login-form" action="/submit" method="post">
          <input type="email" name="username" placeholder="Email"/>
          <input type="password" name="password" placeholder="password"/>
            <p class="message">Password must contain atleast 8 characters</p>
            <p class="message">&#8226; Must contain an alphabet, number & symbol</p>
            <br>

          <button>Submit</button>
          <p class="message">Have an account? <a href="{{ url_for('signin') }}">Login</a></p>
        </form>
      </div>

    </div>
</body>
</body>
</html>