<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
</head>
<body>
    <p><a href="{{ url_for('test') }}">Add data</a></p>
    <hr>
    <p><a href="{{ url_for('signin') }}">Logout</a></p>
    <table>
        <thead>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Backup Codes</th>
            </tr>
        </thead>

        <tbody>
            {%for i in data %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ data[i]['Username']}}</td>
                    <td>{{ data[i]['Password'] }}</td>
                    <td>{{ data[i]['Backupcodes'] }}</td>
                </tr>
            {%endfor%}

        </tbody>
    </table>
    <script  type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
