<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
</head>
<body>
    <button type="button"  class="button1" onclick="window.location.href='{{ url_for( 'test') }}';">Add data</button>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Backup Codes</th>
            </tr>
        </thead>

        <tbody>
            {%for i in data %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ data[i]['Username']}}</td>
                    <td type="password">{{ data[i]['Password'] }}</td>
                    <td>{{ data[i]['Backupcodes'] }}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <button type="button" class="button1"  onclick="window.location.href='{{ url_for( 'signin') }}';">logout</button>
    <script  type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
