<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
</head>
<body>
<div class="container">
    <h2 style="color: #F3F7F7">Credentials</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Website</div>
            <div class="col col-2">UserName</div>
            <div class="col col-3">Password</div>
            <div class="col col-4">Backup Codes</div>
        </li>
        {% for i in data %}
            <li class="table-row">
                <div class="col col-1" data-label="Website">{{ i }}</div>
                <div class="col col-2" data-label="UserName">{{ data[i]['Username'] }}</div>
                <div class="col col-3" data-label="Password">********</div>
                <div class="col col-4" data-label="Backup Codes">********</div>
            </li>
        {% endfor %}
    </ul>
    <div class="button-container">
        <input type="button" value="Add Data" onclick="window.location.href='{{ url_for('new') }}';"/>
        <input type="button" value="Logout" onclick="window.location.href='{{ url_for( 'signin') }}';"/>
    </div>

    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</div>
</body>
</html>
